.main-container {
  width: 91.666667%;
  max-width: 448px;
  place-self: center;
  display: flex;
  flex-direction: column;
  padding: 28px;
  min-height: 550px;
  border-radius: 12px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
              0 4px 6px -4px rgba(0, 0, 0, 0.1);
 
}

.inner-div{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 12px;
}

.title-div{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 28px;    
}

.title-img{
    height: 28px;
}

.title{
    font-size: 30px;
    line-height: 36px;
    font-weight: 600;
}

.task-input-container {
    margin-top: 32px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    border-radius: 9999px;
}

.task-input-container button{
     display: flex;
        justify-content: center;
        align-items: center;
        height: 56px;
    width: 115px;
    border-radius: 9999px;
    margin-left: 50px;
    
}

.scroll-container{
    height: 300px;
    overflow-y: auto;
}


@media (max-width: 500px) {

        html, body {
        margin: 0;
        padding: 0;
        height: 100%;        
        
    }

    .main-container {
        width: 100vw; 
        min-height: 100vh;
        border-radius: 0px; 
        margin: 0; 
        margin: -17px 0;       
    }    

    .task-input-container {            
        border-radius: 9px;               
    }

    .task-input-container button{ 
        display: flex;
        justify-content: center;
        align-items: center;       
        outline: none;         
        width: 80px;  
        height: 60px;      
        border-radius: 9px;
        margin-left: 0px;         
    } 

    .scroll-container{
        height: 570px;    
    }
}

@media (max-width: 430px) {

     .task-input-container button{         
        height: 52px;                 
    } 

}

@media (max-width: 350px) {

     .task-input-container button{         
        height: 47px;                 
    } 

}